## Preparing my Milestone Project

In [70]:
from datetime import datetime, timedelta
import requests
import pandas as pd

now = datetime.today()
today = now.strftime("%Y-%m-%d")
then = now - timedelta(days=31)
first_day = then.strftime("%Y-%m-%d")
this_ticker = 'AAPL'

r = requests.get('https://www.quandl.com/api/v3/datasets/EOD/{0}.json?column_index=4&start_date={1}&end_date={2}&api_key=zRAuGY8-NoKwgZWbTa_a'.format(this_ticker,first_day,today))
data = r.json()

In [77]:
df = pd.DataFrame(data[u'dataset'][u'data'])
df.columns = data[u'dataset'][u'column_names']
df['Date'] = pd.to_datetime(df['Date'], format='%Y/%m/%d')
df.head()

        Date   Close
0 2018-03-16  178.02
1 2018-03-15  178.65
2 2018-03-14  178.44
3 2018-03-13  179.97
4 2018-03-12  181.72

In [55]:
from bokeh.plotting import figure, show, save
from bokeh.io import output_notebook
from bokeh.models import ColumnDataSource

data = {'x_values': [1, 2, 3, 4, 5],
        'y_values': [6, 7, 2, 3, 6]}

source = ColumnDataSource(data=df)

# output to static HTML file
output_file("lines.html")

# create a new plot with a title and axis labels
p = figure(title="simple line example", x_axis_label='x', y_axis_label='y')

# add a line renderer with legend and line thickness
# p.line(source = source,x = 'Date', y = 'Close', legend="Temp.", line_width=2)
p.circle(x='Date', y='Close', source=source)

# show the results
save(p)

'/home/vagrant/datacourse/flask-framework/lines.html'

In [47]:
df['Date']

0     2018-03-16
1     2018-03-15
2     2018-03-14
3     2018-03-13
4     2018-03-12
5     2018-03-09
6     2018-03-08
7     2018-03-07
8     2018-03-06
9     2018-03-05
10    2018-03-02
11    2018-03-01
12    2018-02-28
13    2018-02-27
14    2018-02-26
15    2018-02-23
16    2018-02-22
17    2018-02-21
18    2018-02-20
19    2018-02-16
Name: Date, dtype: object